<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Demo Suite">
	<listeners>
		<listener class-name="com.epam.cdp.cal.listeners.TestListeners"></listener>
	</listeners>
	
	<test name="Sub Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.SubCalTest"/>
		</classes>
	</test>
	<test name="Sum Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.SumCalTest"></class>
		</classes>
	</test>
	<test name="Mult Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.MultCalTest"/>
		</classes>
	</test>
	<test name="Div Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.DivCalTest"/>
		</classes>
	</test>
	<test name="Cos Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.CosCalTest"/>
		</classes>
	</test>
	<test name="Ctg Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.CtgCalTest"/>
		</classes>
	</test>
	<test name="IsNegative Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.IsNegativeCalTest"/>
		</classes>
	</test>
	<test name="IsPositive Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.IsPositiveCalTest"/>
		</classes>
	</test>
	<test name="Pow Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.PowCalTest"/>
		</classes>
	</test>
	<test name="Sin Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.SinCalTest"/>
		</classes>
	</test>
	<test name="Sqrt Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.SqrtCalTest"/>
		</classes>
	</test>
	<test name="Tg Cal Test">
		<classes>
			<class name="com.epam.cdp.cal.tests.testng.TgCalTest"/>
		</classes>
	</test>
</suite>